.main-header{
    position:fixed;
    display:flex;
    justify-content:space-between;
    align-items: center;
    height: 65px;
    width: 100vw;
    padding: 0 10vw;
    color:#000;
    z-index: 1;

    a{
        text-decoration: none;
        color:inherit;
        text-transform: uppercase;
    }

    .nav-links{
        display: flex;
        list-style: none;

        .nav-link{

            a{
                margin: .2rem;
                padding:1rem .5rem;
            }
            a:hover{
                background: rgba(255,255,255, 0.2);
            }
        }
    }

    .menu-icon{
        position:relative;
        padding: 26px 10px;
        cursor: pointer;
        z-index: 1;
        // display: none;

        &__line{
            display: block;
            position: relatiave;
            background: #000;
            height: 2px;
            width: 20px;
            border-radius: 4px;

            &::before, &::after{
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: 4px;
            }
            &::before{
                transform: translateY(-5px);
            }
            &::after{
                transform: translateY(5px);
            }
        }
    }
}